<head>
    <meta charset="UTF-8">
    <title>Show list</title>
    <link rel="stylesheet" type="text/css" href="../css/lists/show.css">
</head>

<h1><%= @list.name%></h1>
  <% if !@list.animes.empty? %>
  <table id="list-data">
    <tr>
      <th>Name</th>
    </tr>
  <% @list.animes.each do |c| %>
    <tr>
      <td><a href="/animes/<%=c.api_id%>"><%= c.name %></a></td>
    </tr>
  <% end %>
  </table>
<% else %>
    <br><br><br><br><br><br>
    <p id="p1"> No anime data! </p>
<% end %>

<br><br><br><br>    
      



<div id="container">

    
  <br>
<% if !@list.animes.empty?%>
  <div class="button" id="button-3">
    <div id="circle"></div>
    <a href="/lists/<%= @list.id %>/edit">Edit</a>
  </div>
  <% end %>

  <br>

  <div class="button" id="button-3">
    <div id="circle"></div>
        <form action="/lists/<%= @list.id %>/delete" method="post">
             <input type="hidden" name="_method" value="delete">
             <input type="submit" value="Delete" role="button" class="deletebutton">
        </form>
  </div>

  <br>

   <div class="button" id="button-3">
    <div id="circle"></div>
        <form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>
  </div>

  <br>

  </div>
  





