<head>
    <meta charset="UTF-8">
    <title>Search show</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/search/show.css">
	

</head>

<ul class="tilesWrap">
<% if !@data.empty? %>
<br><br>
    <% @data.each do |d| %> 
        <li>
            <% @image = d["attributes"]["posterImage"]["small"] %>
			<% @title = d["attributes"]["canonicalTitle"] %> 
			<% @rating = d["attributes"]["averageRating"] %> 
			<% @episode_count = d["attributes"]["episodeCount"] %> 
			<% @id = d["id"] %> 
            <img class="a-img" src="<%= @image %>" alt="<%= @title %>_image">
			
            <br><br><br> 
            <h2><%= @title %>  </h2>
		    <h3><%= @title %>   </h3>
            <p>
			Rating: <%= @rating %> / 100 <br>
			Episode count: <%= @episode_count%> 
			</p> 

            <a id="results_anchor" href="/animes/<%= @id %>"><button>Details</button> </a>
			
        </li>
    <% end %> 
	</ul>
	<% else %>
	<div id="no-results">  No results found! </div>
		
	<% end %>


