<head>
    <meta charset="UTF-8">
    <title>My lists</title>
    <link rel="stylesheet" type="text/css" href="../css/animes/show.css">
</head>

<h1>Name: <%= @details["title"] %> </h1>


<table>
<ul>
    <li><img src="<%= @details["image"] %>" alt="<%= @details["name"] %>_image"></li>
    <li>Description: <%= @details["desc"] %></li>
</ul>

</table>

<h4>Add to list:
<div class="dropdown">
<button class="dropbtn">Lists </button>
<div class="dropdown-content">
<% current_user.lists.each do |list| %>
    <a href="/animes/<%= list.id %>/add/<%=@details["id"] %>"><%= list.name %></a>
<% end %>


</div>
</div> </h4>

<br><br>
<form action="/animes/<%= @details["id"] %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" role="button" class="btn">
</form>



<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>