<head>
    <meta charset="UTF-8">
    <title>My lists</title>
    <link rel="stylesheet" type="text/css" href="../css/animes/show.css">
</head>


<div class="row">
  <div class="column" id="c1">

    <p><img src="<%= @details["image"] %>" alt="<%= @details["name"] %>_image"></p>
  </div>
  
  <div class="column" id="c2">
        <h1><%= @details["title"] %> </h1>
        <p>
            
             <h4 id="title-h"><span id="title-h1-span">  <b> Description </b></span> <br><%= @details["desc"] %>
          
            <h4>Add to list:
                <div class="dropdown">
                    <button class="dropbtn">Lists </button>
                    <div class="dropdown-content">
                        <% current_user.lists.each do |list| %>
                            <a href="/animes/<%= list.id %>/add/<%=@details["id"] %>"><%= list.name %></a>
                        <% end %>
                    </div>
                </div> 
            </h4>
        </p>
        <form>
          <input type="button" value="Go back!" onclick="history.back()">
        </form>
  </div>
</div>

<br><br>

