<head>
    <meta charset="UTF-8">
    <title>My anime lists</title>
    <link rel="stylesheet" type="text/css" href="/css/profile/edit.css">
    <script>
function validateForm() {
  var x = document.forms["profile_edit"]["profile[bio]"].value;
  var y = document.forms["profile_edit"]["profile[age]"].value;
  var a = document.forms["profile_edit"]["profile[name]"].value;
  var b = document.forms["profile_edit"]["profile[favorite_series]"].value;
  if (x == "" || x == null) {
    alert("Bio must be filled out");
    return false;
  }
  if (y == "" || y == null) {
    alert("Age must be filled out");
    return false;
  }
  if (a == "" || a == null) {
    alert("Name must be filled out");
    return false;
  }
  if (b == "" || b == null) {
    alert("Favorite series must be filled out");
    return false;
  }
}
</script>
</head>
<div class="formstyle">
    <form name="profile_edit" action="/profile/<%= current_profile.id %>" method="post" onsubmit="return validateForm()">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Name: </label>
    <input type="text" name="profile[name]" id="name" value="<%= current_profile.name %>">

    <label for="bio">Bio: </label>
    <textarea id="textarea" rows="8" cols="45" name="profile[bio]" id="bio" value="<%= current_profile.bio %>"></textarea>

    <label for="age">Age: </label>
    <input type="text" name="profile[age]" id="integer" value="<%= current_profile.age %>">

    <label for="class">Favorite Series: </label>
    <input type="text" name="profile[favorite_series]" id="favorite_series" value="<%= current_profile.favorite_series %>">

    <input type="submit" value="Update">
    </form>
</div>